{% extends 'base.html' %}

{% block title %} 用户登陆 {% endblock %}
{% block css %}
<style type="text/css">
    .account{
        width: 350px;
        margin: 0 auto;
        border: 1px solid #F0F0F0;
        padding: 10px 30px 30px 30px;
        bpx-shadow: 5px 10px 10px rgba(0,0,0,0.05)
    }
</style>
{% endblock %}

{% block content %}
<div class="account">
    <h1 align="center">用 户 登 陆</h1>
    <form id="loginForm" method='POST' novalidate>
        {% csrf_token %}
                {% for user in form %}
            <div class="form-group">
                <label for="{{ field.id_for_label }}">{{ user.label}}:</label>
                {{ user }}
                <span class="error-msg"></span>
            </div>
        {% endfor %}
        <button id="btnSubmit" type="button" class="btn btn-success">登 陆</button>
        <button type="reset" class="btn btn-warning">取 消</button>
    </form>
</div>
{% endblock %}


{% block js %}
<script>
    // 刷新验证码
    $('.captcha').click(function(){
        $.getJSON("/captcha/refresh/",
                function(result){
                $('.captcha').attr('src',result['image_url']);
                $('#id_code_0').val(result['key']) ;
        });
    })

    $(function (){
        bindClickSubmit();
    });

    function bindClickSubmit() {
        $('#btnSubmit').click(function (){
            $('.error-msg').empty();
            $.ajax({
                url:"{% url 'register' %}",
                type:"POST",
                data:$('#regForm').serialize(),   // 收集到所有字段数据和CSRF token
                dataType:"JSON",
                success:function(res) {
                    if(res.status){
                        location.href = res.data;
                    }else{
                        $.each(res.error,  function (key,value) {
                            if(key == 'code'){
                                $("#id_"+key+"_0").next().text(value[0]);
                            }else{
                                $("#id_"+key).next().text(value[0]);
                            }
                        })
                    }
                }
            })
        })
    }
</script>
{% endblock %}